# Hugo build output
public/
resources/_gen/

# Hugo lock file
.hugo_build.lock

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
.tmp_public/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
test/
docs/